.list-your-membership-background-container {
  padding-top: 145px;
  background-image: url('https://static1.squarespace.com/static/5995d96dbf629ab9fc226638/t/59d29e3912abd95b114165e0/1506977910596/Equinox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  z-index: -1;
}

.list-your-membership-header {
  color: white;
<<<<<<< HEAD
  letter-spacing: 0.039604em;
  font-size: 100px;
}

.list-your-membership-button-div {
  text-align: center;
=======
>>>>>>> a23c511bc4101df3d109037d9bf15c50a8361113
}
